<?xml version="1.0" ?>
<robot name="frame" 
  xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_footprint"/>
  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0.25241" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <gazebo reference="base_link">
    <mu1>0</mu1>
    <mu2>0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>
  <link name="base_link">
    <inertial>
      <origin xyz="0 0.0751835052567173 0.414272" rpy="0 0 0" />
      <mass value="8.95683313242359" />
      <inertia ixx="-0.000003" ixy="0.997477" ixz="-0.070991" iyy="-0.000003" iyz="-0.000007" izz="0.997477" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://flowerbot_description/meshes/frame_link2.STL" />
      </geometry>
      <material name="material_blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://flowerbot_description/meshes/frame_link2.STL" />
      </geometry>
    </collision>
  </link>
</robot>
